@font-face {
    font-family: 'sf_ui_displaylight';
    src: url('sf-ui-display-light-webfont.woff2') format('woff2'),
         url('sf-ui-display-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}